<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sco</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>RTcmixShell</string>
	<key>CFBundleIdentifier</key>
	<string>org.rtcmix.RTcmixShell</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0b7, Copyright 2017 John Gibson</string>
	<key>CFBundleIconFile</key>
	<string>RTcmixShell.icns</string>
	<key>CFBundleLongVersionString</key>
	<string>RTcmixShell v1.0b7, Copyright 2017 John Gibson</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleSignature</key>
	<string>JGrt</string>
</dict>
</plist>
