<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>1.0.9</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
	<key>CFBundleName</key>
	<string>RTcmixShell</string>
	<key>CFBundleDisplayName</key>
	<string>RTcmixShell</string>
	<key>CFBundleExecutable</key>
	<string>RTcmixShell</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>RTcmixShell.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.rtcmix.RTcmixShell</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>RTcmixShell needs access to the microphone in order to play and record audio.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sco</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2017-2020 John Gibson at al.</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
